@import "../../global.scss";

.menuLink {
  width: 100%;
  border-bottom: 0.5px solid #fff;

  .menuTitle {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-family: "Playfair display", "serif";
    font-weight: 300;
    text-transform: capitalize;
    color: #fff;
    transition: all 0.2s ease;
    letter-spacing: 1px;
  }
  .menuTitle:hover {
    color: $fontcolor;
  }
}
